BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
NamespaceIndentation: All
ColumnLimit: 110
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertBraces: false
FixNamespaceComments: false
LineEnding: CRLF
InsertNewlineAtEOF: true
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^<windows.h>$'
    Priority: -1
  - Regex: '.*'
    Priority: 1
